<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Blog Service</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
</head>

<body>
<div class="button-wrap">
  <button>
    <a href="/member/login-page">로그인</a>
  </button>

  <button>
    <a href="/member/signup">회원 가입</a>
  </button>

  <button>
    <a href="/api/posts">모든 글 목록</a>
  </button>
</div>
</body>

</html>