<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Service</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <script th:inline="javascript">
        function getToken() {
            let cName = 'Authorization' + '=';
            let cookieData = document.cookie;
            let cookie = cookieData.indexOf('Authorization');
            let auth = '';
            if (cookie !== -1) {
                cookie += cName.length;
                let end = cookieData.indexOf(';', cookie);
                if (end === -1) end = cookieData.length;
                auth = cookieData.substring(cookie, end);
            }
            return auth;
        }

        function deletePost(postId) {
            const auth = getToken();

            $.ajax({
                type: "DELETE",
                url: `/api/posts/${postId}`,
                contentType: "application/json",
                data: {},
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", auth);
                },
                success: function (response) {
                    if (response === 'success') { // 200 - 전체 글 목록
                        alert("삭제 완료");
                        window.location.href = `/api/posts`;
                    }
                },
                error: function (response) {
                    document.write(response.responseText);
                }
            });
        }

        function writeComment(postId) {
            let contents = $('#new_comment_contents').val();
            const auth = getToken();
            if (contents === '') {
                alert('댓글 내용을 입력해주세요');
                return;
            }

            $.ajax({
                type: "POST",
                url: `/api/posts/${postId}/comments`,
                contentType: "application/json",
                data: JSON.stringify({contents: contents}),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", auth);
                },
                success: function (response) {    // 200 - 게시글 페이지로 이동
                    window.location.href = `/api/posts/${postId}`;
                },
                error: function (response) {    // 400 - 에러 텍스트 출력
                    document.write(response.responseText);
                }
            });
        }

        // 수정 폼 띄우기
        function showCommentEditForm(postId, commentId){
            let original = document.getElementById(commentId);
            let input = document.getElementById("edit"+commentId);
            // let originalContents = original.getElementsByClassName("comment_text")[0].textContent;
            original.style.display="none";
            input.style.display="block";
        }

        // 수정 폼 닫기 - 취소 눌렀을 때
        function closeCommentEditForm(commentId){
            let original = document.getElementById(commentId);
            let input = document.getElementById("edit"+commentId);
            original.style.display="block";
            input.style.display="none";
        }

        function editComment(postId, commentId) {
            let input = document.getElementById("comment_edit_input"+commentId);
            let contents = input.value;
            console.log(contents);
            if (contents === '') {
                alert('댓글 내용을 입력해주세요');
                return;
            }

            const auth = getToken();

            $.ajax({
                type: "PUT",
                url: `/api/posts/${postId}/comments/${commentId}`,
                contentType: "application/json",
                data: JSON.stringify({contents: contents}),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", auth);
                },
                success: function () {    // 200 - 게시글 페이지로 이동
                    window.location.href = `/api/posts/${postId}`;
                },
                error: function (response) {    // 400 - 에러 텍스트 출력
                    document.write(response.responseText);
                }
            });
        }

        function deleteComment(postId, commentId) {
            let contents = $('#new_comment_contents').val();
            const auth = getToken();

            $.ajax({
                type: "DELETE",
                url: `/api/posts/${postId}/comments/${commentId}`,
                contentType: "application/json",
                data: JSON.stringify({contents: contents}),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", auth);
                },
                success: function () {    // 200 - 게시글 페이지로 이동
                    alert('삭제 완료');
                    window.location.href = `/api/posts/${postId}`;
                },
                error: function (response) {    // 400 - 에러 텍스트 출력
                    document.write(response.responseText);
                }
            });
        }
    </script>
    <style>
        .comment_edit_form{
            display: none;
        }
    </style>
</head>

<body>
<a href="/api/posts/new">
    <button>글 작성하기</button>
</a>
<a href="/api/posts">
    <button>전체 글 목록</button>
</a>
<a href="/">
    <button>메인화면</button>
</a>
<div class="post_wrap">
    <h1 th:text="${post.title}">untitled</h1>
    <p class="post_info">
        작성자 : <span class="username" th:text="${post.username}"></span>
        작성 시각 : <span class="createdAt" th:text="${post.createdAt}"></span>
        마지막 수정 : <span class="modifiedAt" th:text="${post.modifiedAt}"></span>
    </p>
    <div class="post_button_wrap">
        <button th:onclick="|location.href='@{/api/posts/{postId}(postId=${post.id})}/edit'|">수정</button>
        <button th:attr="onclick=|deletePost(${post.id})|">삭제</button>
    </div>
    <p class="post_contents" th:text="${post.contents}"></p>
</div>
<div class="write_comment_area">
    <input id="new_comment_contents" type="text" name="contents" class="post-input-box">
    <button id="comment-submit" th:attr="onclick=|writeComment(${post.id})|">댓글 남기기</button>
</div>

<div th:each="comment : ${comments}" class="comment_wrap">
    <div th:id="${comment.id}">
        <p class="comment_info">
            <span class="comment_username" th:text="${comment.username}">글쓴이</span>
            <span class="comment_date" th:text="${comment.createdAt}">작성 시각</span>
            <button th:attr="onclick=|showCommentEditForm('${post.id}', '${comment.id}')|">댓글 수정</button>
            <button th:attr="onclick=|deleteComment('${post.id}', '${comment.id}')|">댓글 삭제</button>
        </p>
        <p class="comment_text" th:text="${comment.contents}">내용</p>
    </div>
    <div class="comment_edit_form" th:id="'edit'+${comment.id}">
        <input th:id="'comment_edit_input'+${comment.id}" type="text" name="contents" class="comment-edit-box" th:value="${comment.contents}">
        <button th:attr="onclick=|editComment('${post.id}', '${comment.id}')|">수정 완료</button>
        <button th:onclick="|closeCommentEditForm(${comment.id})|">취소</button>
    </div>
</div>
</body>

</html>